body {
    background-image: url("pineapple.jpeg");
    background-repeat: repeat-y;
}

h1 {
	padding-top: 100px;
	transform:  rotate(56deg);
	transform:  rotateX(180deg);
	color:  lightsteelblue;
	text-align: center;
}

p {
	background: linear-gradient(gold, pink, green, purple, orange, white, goldenrod);
	padding-top: 150px;
	padding-bottom: 300px;
}